.loadData {
  display: flex;
  align-items: center;
  padding: 10px 50px;
}

.loadData h2 {
  margin-right: 10px;
}

.loadData button {
  width: 30px;
  height: 30px;
  font-size: 25px;
  padding: 0;
  border: none;
  border-radius: 50%;
  text-align: center;
  color: green;
}

.loadData button:hover {
  background-color: green;
  color: white;
}

.note-list {
  display: flex;
  flex-wrap: wrap;
}

.note {
  position: relative;
  width: 150px;
  height: 100px;
  padding: 20px;
  margin: 10px 20px;
  border: 1px solid #000000;
  text-align: center;
}

.note button {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 50%;
  font-size: 15px;
  color: red;
}

.note-form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px 20px;
}

.note-form label {
  padding: 10px;
}

.note-form textarea {
  box-sizing: border-box;
  height: 100px;
  padding: 10px 5px;
}

.note-form button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 25px;
  margin: 5px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
}